<div>
  <app-nav-bar></app-nav-bar>
</div>

<div class="container-div"> 

  <div class="example-container">
      <h4 class="logintitle">Login</h4>
      <div *ngIf="loginErrorinfo" class="alert-error">Wrong email or password</div>
      
    <form [formGroup]="userloginFormGroup" (submit)='userLogin()' ngNativeValidate>
      <mat-form-field style="width: 100%;">
        <input [(ngModel)]="email" matInput type="email" placeholder="Email" formControlName="emailCtrl" required>
      </mat-form-field>
      
      <mat-form-field style="width: 100%;">
          <input [(ngModel)]="password" matInput type="password" minlength="8" matInput placeholder="Password" formControlName="passwordCtrl" required>
      </mat-form-field>
   
      <button [disabled]="showSpinner" [ngClass]="{'buttonWithSpinner': showSpinner}" type="submit" class="loginbutton" mat-raised-button>
      <span *ngIf="!showSpinner">Login</span>     

      <mat-progress-spinner *ngIf="showSpinner" diameter="20" mode="indeterminate" class="mat-spinner-color" value="100"></mat-progress-spinner>
     
      </button>
      <p class="signuplinklogin">Don't have an Account? <a  routerLink="/signup">Sign up</a></p>
     </form>
     </div>
</div>